<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Domescape.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0308C9FD677E415DB488EC69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>072136A9CC3044DC8B9A3ED5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>13C3A2A59CD948199F3150E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26595855E22149F9A1C265A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C650D7FAC2A4FF981763C9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45B71208DFD94F0B88EC95A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4979F2BC02D94F6BAF767AA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55CECED8FF6948BAAD2C5D6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>707C0E02C4B34DEA99D8BE0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7443292CDE7641E0ACA14884</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7817F825C91C487C96D4254B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86AB4FC07C7F4D60B42F79F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A46D307D3844A869EAB8D8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A60BF50E1F3147349E192AA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC8163D16224400D945A1C2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
